.DS_Store
Thumbs.db
node_modules/
.vscode/
.idea/
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
coverage/
tmp/
temp/
dist/
/.cache
/.pnp
/.pnp.js
*.tgz
*.env
env.local
env.*.local
/.DS_Store
